{% extends "base.html" %}
{% block body %}
<br>
<br>
<a href="/">Home</a>
<br>
<br>
<p> Enter your email and password to log in</p>

<div class='form'>
    <form method='POST' action=''>
        {{ form.csrf_token }}
        
        {{ form.email.label }}
        {{ form.email }}
        
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}

        <br>
        {{ form.password.label }} {{ form.password }} 
        <br>

        {{ form.submit }}
    </form>
</div>

{% endblock body %}